.navbar .navbar-brand {
    color: #39424e !important;
    font-size: 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0rem;
}

.dropdown-content ul li {
    padding: 0.3rem;
}

.dropdown-content ul li a:link,
.dropdown-content ul li a:visited {
    text-decoration: none;
    color: #39424e;
}

.dropdown-content ul li a:hover {
    color: #738f93;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* status */

.status_input {
    background-color: #F8F9FA;
    padding: 20px;
}


/* feeed design */

.post_box {
    background: #F8F9FA;
    padding: 20px;
    padding-left: 10px;
}

.autho_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.autho_description p {
    margin: 0px;
    padding: 0px;
}

.autho_description .post_time {
    font-size: 14px;
}

.post_body p {
    text-align: justify;
    font-size: 15px;
}

.like_btn {
    padding: 2px 10px;
    font-size: 12px;
}

.comment_holder {
    background: white;
    margin-top: 10px;
    padding: 10px;
}

.comment_holder .commnet_author {
    font-size: 15px;
    font-weight: bold;
}

.comment_holder .comment_body {
    font-size: 13px;
}

.comment_input {
    background: white;
    margin-top: 10px;
    padding: 10px;
}

@media(max-width: 667px) {
    .send_com {
        padding-left: 5px !important;
    }
    .comment_send_btn {
        padding: 5px;
    }
}