.navbar .navbar-brand {
  color: #39424e !important;
  font-size: 32px; }
.navbar__menu--login:link, .navbar__menu--login:active {
  color: #39424e !important;
  font-size: 16px; }
.navbar__menu--login:hover {
  color: #738f93 !important; }

.landingCover {
  width: 100%; }
  .landingCover .container,
  .landingCover .row {
    height: 100%; }
  .landingCover__left__block {
    margin-top: 15rem; }
    .landingCover__left__block h1 {
      font-size: 76px;
      color: #39424e; }
    .landingCover__left__block p {
      margin-top: 0rem;
      font-size: 26px;
      color: #738f93; }
  .landingCover__left--registerTeacher {
    background: #32c766 !important;
    border: 1px solid #32c766;
    transition: all 0.3s ease;
    color: white; }
  .landingCover__left--registerTeacher:hover {
    background: white !important; }
  .landingCover__left--registerStudent {
    background: white !important;
    border: 1px solid #32c766;
    transition: all 0.3s ease; }
  .landingCover__left--registerStudent:hover {
    color: white;
    background: #32c766 !important; }
  .landingCover__right img {
    margin-top: 10rem;
    width: 100%;
    object-fit: contain; }

@media (max-width: 768px) {
  .landingCover__left__block {
    margin-top: 5rem; }
    .landingCover__left__block h1 {
      font-size: 76px; }
    .landingCover__left__block p {
      margin-top: 0rem;
      font-size: 26px; }
  .landingCover__left--registerTeacher, .landingCover__left--registerStudent {
    margin-top: 0.5rem; } }
.registerFormContainer__block {
  display: flex;
  align-items: center;
  justify-content: center; }
  .registerFormContainer__block__holdBlock {
    background: white;
    padding: 1.2rem;
    width: 500px; }
    .registerFormContainer__block__holdBlock--submit {
      background: #32c766;
      border: 1px solid #32c766;
      color: white; }
    .registerFormContainer__block__holdBlock--submit:hover {
      background: #fff; }

.loginCover__left {
  margin-top: 15rem; }
  .loginCover__left__block h2 {
    color: #39424e; }
  .loginCover__left__block p {
    color: #738f93;
    font-size: 20px; }

@media (max-width: 768px) {
  .loginCover__left {
    margin-top: 10rem; }
    .loginCover__left__block h2 {
      color: #39424e; }
    .loginCover__left__block p {
      color: #738f93;
      font-size: 20px; }
    .loginCover__left__block__holder__right {
      margin-top: 1.2rem; } }
.interestContainer h2 {
  color: #738f93; }
.interestContainer__lists {
  list-style-type: none;
  padding-inline-start: 0rem;
  margin-top: 2.5rem; }
  .interestContainer__lists li {
    display: inline-block;
    margin-right: 1.9rem;
    background: #32c766;
    padding: 0.9rem;
    border: 1px solid #32c766;
    border-radius: 1.5rem;
    margin-top: 0.9rem;
    color: white;
    cursor: pointer; }
  .interestContainer__lists li:hover {
    background: #fff;
    color: black; }
.interestContainer--doneChoosing {
  background-color: #37515b;
  color: white;
  border: 1px solid #37515b;
  border-radius: 0.5rem;
  padding: 0.5rem 0.9rem; }
.interestContainer--doneChoosing:hover {
  background-color: white;
  color: black; }

.addInterest {
  float: right; }
  .addInterest input {
    border: 1px solid #39424e;
    border-radius: 0.3rem;
    padding: 0.4rem; }
  .addInterest input:focus {
    outline: none; }
  .addInterest .btn {
    background: #738f93;
    color: white;
    border: 1px solid #738f93; }
  .addInterest .btn:hover {
    background: white;
    color: black; }

@media (max-width: 768px) {
  .interestContainer h2 {
    font-size: 24px !important; }
  .interestContainer__lists {
    margin-top: 1.5rem; }
    .interestContainer__lists li {
      margin-right: 0.1rem;
      padding: 0.8rem;
      font-size: 13px;
      margin-top: 0.5rem; }

  .addInterest {
    float: left; } }
.dropdown-toggle:empty::after {
  display: none; }

.containIntroInfo {
  background: white; }
  .containIntroInfo__coverImg img {
    width: 100%;
    height: 15rem;
    object-fit: cover; }
  .containIntroInfo__profileImg img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-top: -5rem;
    border-radius: 100%;
    border: 5px solid white; }
  .containIntroInfo__info {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    padding-bottom: 1.3rem; }
    .containIntroInfo__info p {
      padding: 0rem;
      margin: 0rem; }
    .containIntroInfo__info__name {
      font-weight: 500; }
    .containIntroInfo__info__edit {
      margin-top: 0.3rem;
      margin-right: 0.7rem;
      font-size: 18px;
      cursor: pointer;
      color: #738f93; }
    .containIntroInfo__info__edit:hover {
      color: #39424e; }

.about {
  margin-top: 1.5rem;
  background: white;
  padding: 1.3rem;
  padding-right: 0.7rem; }
  .about p {
    padding: 0rem;
    margin: 0rem; }
  .about__edit {
    margin-top: 0rem;
    font-size: 18px;
    cursor: pointer;
    color: #738f93; }
  .about__edit:hover {
    color: #39424e; }

.research {
  margin-top: 1.5rem;
  background: white;
  padding: 1.3rem; }
  .research__btn {
    background: #738f93;
    color: white;
    border: 1px solid #738f93;
    font-size: 12px; }
  .research__btn:hover {
    background: white;
    color: #39424e;
    border: 1px solid #738f93; }
  .research__each {
    cursor: pointer; }
    .research__each__img img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      padding-right: 0.9rem; }
    .research__each__info p {
      padding: 0rem;
      margin: 0rem; }
    .research__each__info a:link,
    .research__each__info a:visited {
      text-decoration: none; }

.projects {
  margin-top: 1.5rem;
  background: white;
  padding: 1.3rem; }
  .projects__btn {
    background: #738f93;
    color: white;
    border: 1px solid #738f93;
    font-size: 12px; }
  .projects__btn:hover {
    background: white;
    color: #39424e;
    border: 1px solid #738f93; }
  .projects__each {
    cursor: pointer; }
    .projects__each__img img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      padding-right: 0.9rem; }
    .projects__each__info p {
      padding: 0rem;
      margin: 0rem; }
    .projects__each__info a:link,
    .projects__each__info a:visited {
      text-decoration: none; }

@media (max-width: 1024px) {
  .research__each__info p {
    font-size: 14px; }

  .projects__each__info p {
    font-size: 14px; } }
@media (max-width: 768px) {
  .research__each__img img {
    padding-right: 0rem; }
  .research__each__info h5 {
    margin-top: 1rem; }

  .projects__each__img img {
    padding-right: 0rem; }
  .projects__each__info h5 {
    margin-top: 1rem; } }
.profileInterests {
  background-color: white;
  padding: 1.5rem; }
  .profileInterests__edit {
    margin-top: 0rem;
    font-size: 18px;
    cursor: pointer;
    color: #738f93; }
  .profileInterests__edit:hover {
    color: #39424e; }
  .profileInterests__containLists {
    height: 20rem;
    overflow: scroll; }
    .profileInterests__containLists__lists {
      list-style-type: none;
      padding: 0rem; }
      .profileInterests__containLists__lists li {
        display: inline-block;
        background: #738f93;
        margin: 0.5rem 0.5rem 0.5rem 0rem;
        border: 1px solid #738f93;
        border-radius: 0.8rem;
        padding: 0.5rem;
        font-size: 14px;
        color: white; }

@media (max-width: 768px) {
  .profileInterests {
    margin-top: 1.5rem; } }
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1; }
  .dropdown-content ul {
    list-style-type: none;
    padding: 0rem; }
    .dropdown-content ul li {
      padding: 0.3rem; }
      .dropdown-content ul li a:link,
      .dropdown-content ul li a:visited {
        text-decoration: none;
        color: #39424e; }
      .dropdown-content ul li a:hover {
        color: #738f93; }

.dropdown:hover .dropdown-content {
  display: block; }

.containsForm label {
  font-size: 20px;
  font-weight: 500; }
.containsForm .form-group {
  background: white;
  padding: 1.2rem;
  border-radius: 0.5rem; }

.researchTemplate__holder img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.editorResearch__holder__form .form-group {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem; }

/* additional Interest */
.newInterestCard img{
  border-radius: 5px;
  filter: brightness(50%);
}
.newInterestChildWrappers{
  list-style-type: None;
  padding-inline-start: 0px;
}
.newInterestChildWrappers li{
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  background: #37515b;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 1px solid #37515b;
}
.newInterestChildWrappers li:hover{
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid #37515b;
}
/*# sourceMappingURL=style.css.map */


/* status */

.status_input {
  background-color: #F8F9FA;
  padding: 20px;
}


/* feeed design */

.post_box {
  background: #F8F9FA;
  padding: 20px;
  padding-left: 10px;
}

.autho_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.autho_description p {
  margin: 0px;
  padding: 0px;
}

.autho_description .post_time {
  font-size: 14px;
}

.post_body p {
  text-align: justify;
  font-size: 15px;
}
.post_img img{
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.like_btn {
  padding: 2px 10px;
  font-size: 12px;
}

.comment_holder {
  background: white;
  margin-top: 10px;
  padding: 10px;
}

.comment_holder .commnet_author {
  font-size: 15px;
  font-weight: bold;
}

.comment_holder .comment_body {
  font-size: 13px;
}

.comment_input {
  background: white;
  margin-top: 10px;
  padding: 10px;
}

@media(max-width: 667px) {
  .send_com {
      padding-left: 5px !important;
  }
  .comment_send_btn {
      padding: 5px;
  }
}
